In [4]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine('sqlite:///:memory:')

In [5]:
df = pd.read_excel('example1.xlsx')

In [6]:
df

    a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [7]:
df.to_sql('my_table',engine)

In [8]:
sqldf = pd.read_sql('my_table',con=engine)

In [9]:
sqldf

   index   a   b   c   d
0      1   0   1   2   3
1      2   4   5   6   7
2      3   8   9  10  11
3      4  12  13  14  15